@charset "utf-8";

body {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
    cursor: none;
    overflow-x: hidden;
    background-image: url(../images/gaikan.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
}

.cursor__ball circle {
    fill: white;
}

.money {
    margin-top: 100px;
    color: #276EA1;

}

h1 {
    color: #276EA1;
    margin-top: 40px;
}

.money2 {
    margin-top: 40px;
    color: #276EA1;

}

h2 {
    margin: 50px 0 20px;
    font-size: 18px;
    text-align: center;
}

.price-box {
    background: #6699BE;
    color: #fff;
    padding: 12px;
    margin: 10px auto;
    max-width: 500px;
    font-size: 14px;
    text-align: center;
}

/* オプションと注意事項の間隔 */
.option {
    margin-bottom: 200px;
}


.attentiontop {
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #276EA1;
    text-align: center;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.attention {
    position: relative;
    max-width: 720px;
    margin: 60px auto;
    /* 上下の余白 */
    padding: 30px 40px;
    /* 内側余白 */
    background-color: #ffffff;
    border-radius: 20px;
    /* 角丸 */
    padding: 50px 160px 40px;
}

/* .attention {
    padding: 20px;
    max-width: 720px;
    margin: 0 auto;
} */

.attention3 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: firebrick;
    text-decoration: underline;
}


.attention1 {
    color: #888888;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.attention2 {
    color: #888888;
    font-family: "M PLUS Rounded 1c", sans-serif;

}

.sp-only {
    display: block;
}

@media screen and (max-width:1100px) {
    .cursor {
        display: none;
    }

}


@media screen and (max-width:500px) {
    .price-box {
        margin: 14px 40px
    }

    .attention {
        padding: 50px 20px 40px;
        border-radius: 0;
    }

}

@media screen and (min-width: 501px) {
    .sp-only {
        display: none;
    }
}