@charset "utf-8";


body {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f1f1f1;
    cursor: none;
    overflow-x: hidden;


    /* 元のマウスカーソルを消す */
}


.money {
    color: #276EA1;
    margin-top: 100px;

}


.cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
}

.cursor__ball circle {
    fill: white;
}



h1 {
    color: #276EA1;
    margin-top: 40px;
}



/* テスト */

.pu {
    width: 90%;
    max-width: 900px;
    border-collapse: collapse;
}

.pu td {
    padding: 24px 75px 27px 46px;
    font-size: 15px;

}


.price1 {
    padding-left: 100px;
}

.pu tr {
    border-bottom: 15px solid #f1f1f1;
}

.price-row {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* テスト */





h2 {
    margin: 50px 0 20px;
    font-size: 20px;
    text-align: center;
}

.price-box {
    background: #6699BE;
    color: #fff;
    padding: 12px;
    margin: 10px auto;
    max-width: 500px;
    font-size: 16px;
    text-align: center;
}

.price-box1 {
    background: #6699BE;
    color: #fff;
    padding: 12px;
    margin: 10px auto;
    max-width: 500px;
    font-size: 14px;
    text-align: center;
}

/* オプションと注意事項の間隔 */
.option {
    margin-bottom: 200px;
}

.attentiontop {
    color: #276EA1;
    text-align: center;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.attention {
    position: relative;
    max-width: 730px;
    margin: 60px auto;
    /* 上下の余白 */
    padding: 30px 40px;
    /* 内側余白 */
    background-color: #ffffff;
    border-radius: 20px;
    /* 角丸 */
    padding: 50px 130px 40px;
    font-size: 14px;
}

.attention p {
    color: #888888;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

/* モバイルファースト（スマホ） */
.sp-only {
    display: block;
    /* 改行する */
}

.pc-only {
    display: none;
    /* 改行しない */
}

@media screen and (max-width:1100px) {
    .cursor {
        display: none;
    }

    .pu td {
        font-size: 14px;
        padding: 24px 65px 26px 30px;
    }

}

@media screen and (max-width:500px) {
    .price-box {
        margin: 14px 20px
    }

    .attention {
        padding: 50px 20px 40px;
        border-radius: 0;
    }

}

@media screen and (min-width: 501px) {
    .sp-only {
        display: none;
        /* PCでは改行しない */
    }

    .pc-only {
        display: block;
        /* PCで改行 */
    }
}